/* Regular Font */
@font-face {
  font-family: Moderustic;
  src: url('bcmain/Moderustic-Medium.ttf');
  src: url('bcmain/Moderustic-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Bold Font */
@font-face {
  font-family: Moderustic;
  src: url('bcmain/Moderustic-Bold.ttf');
  src: url('bcmain/Moderustic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* For Text */
body {
    background-color: #f5f5f5;
    font-family: Moderustic, sans-serif;
  }

/* Navigation bar (top) links */
.nav-link {
  color:black;
  text-decoration: none;
  align-content: center;
}

/* Justify text evenly */
.text-justify {
  text-align: justify;
}

